html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

  
  body{
    background-color: rgb(103,148,177);
  }
  
  /* Uncomment below if images are way too big.
  Selects all image tags and makes them 500px;
   */
  img {
   width: 450px;
   margin-bottom: auto;
   transition:transform 0.2s ease;
  }

  h1{
    display: table;
    margin: 0px auto 0px auto;
    padding: 3px;
    background-color: rgba(146,183,201,0.9);
  }
  h2{
    display: table;
    margin:5px,auto,5px,auto;
    background-color: rgba(208,220,230,0.3);
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .gallery-item {
    display: flex; 
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
  #largeImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width:55%;
  }
  #largeImage,.gallery-item:hover {
    -webkit-transform:scale(1.9); 
    transform:scale(1.9);
  }
